
html{
    font-family: "Bungee", verdana, sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../bg/green_gobbler.png");
}

.gui{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.gui__turn{
    text-transform: uppercase;
}

.board__column{
    display: flex;
    margin-bottom: 1px;
}

.board__cell{
    position: relative;
    background-color: #6c6c6c;
    color: #fff;
    height: 90px;
    width: 90px;
    margin: 2px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    border-radius: 5px;
}

.btn{
    font-family: "Bungee", verdana, sans-serif;
    background-color: #6c6c6c;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}